{% extends "encyclopedia/index.html" %}

{% block body %}

    <h1>Create New Page</h1>

    {% if message %}
        <div><text style="color:red">{{ message }}</text></div>
    {% endif %}

    <form action="{% url 'create' %}" method="post">
        {% csrf_token %}
        <div>
            <h3>Title</h3>
            <input type="text" name ="title" style="width: 800px;" placeholder="Title" value="{{ title }}">
        </div>
        <div>
            <h3>Contents</h3>
            <textarea name="contents" style="width: 800px; height:400px;">{{ contents }}</textarea>
            <input type="text" name="flag" value="add" hidden> 
        </div>
        <div>
            <input type="submit" value="Submit">
        </div>
    </form>
    
{% endblock %}